
body {
  background: #fad46e;
}

.wrapper {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 10px;
}

.container {
  max-width: 300px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  background: #fff;
  border-radius: 5px;
  /*transition: all 0.5s ease;*/
}

.container .icon-items{
  max-width: 300px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  background: #fff;
  border-radius: 5px;
  /*transition: all 0.5s ease;*/
}

.search-box .input {
  width: 125px;
  height: 80%;
  border: 0px;
  outline: none;
  background: #e6e6e6;
  transition: all 0.5s ease;
}

.container .icon-items:hover{
  background: #e6e6e6;
}

.container .icon-items-1:hover {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .icon-1:hover {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*.container .icon-items .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  /*color: #848484;*/
}*/

