* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fad46e;
}

.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 10px;
}

.container {
  max-width: 300px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  background: #fff;
  border-radius: 5px;
  /*transition: all 0.5s ease;*/
}

.container .icon-items{
  width: 60px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

.search-box .input {
  width: 125px;
  height: 100%;
  border: 0px;
  outline: none;
  background: #e6e6e6;
  transition: all 0.5s ease;
}

.container .icon-items:hover{
  background: #e6e6e6;
}

.container .icon-items-1:hover {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .icon-1:hover {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container .icon-items .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #848484;
}

/*.search-box .input.active {
  width: 200px;
  padding: 0 10px;
}
*/
.container.active {
  max-width: 500px;
}

@media screen and (max-width: 500px) {
  .search-box .input.active {
    width: 125px;
  }
  .container.active {
    max-width: 425px;
  }
}
