<%include header.ejs %>
<link rel="stylesheet" type="text/css" href="/css/edit_profile.css">
<form class="container" id="showInfo" action="/config" method="POST">
	<div style="margin-left: 22%; margin-right: 20%;">
			<div class="column">
				<h1 style="margin-top: 20px;">My Profile</h1>
				<p>Edit your profile.</p>
				<hr style>
				<label style="margin-top: -50px;"><b>Preview image</b></label>
				<br><img name="imageHolder" id="imageHolder" class="img-thumbnail" src = <%=current_user.img %> ><br>
				<br><div style="white-space:nowrap"><b>Image :&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</b><input class="form-control" id="fInput" type="text" name="img" id="img" required value = <%= current_user.img %> ></div>
				<div style="white-space:nowrap"><b>Name :&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</b><input class="form-control" id="fInput" name="name" id="name" required type="text" value=<%=current_user.name%> ></div>
				<div style="white-space:nowrap"><b>Age :&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</b><input class="form-control" id="fInput" type="text" name="age" required value = <%= current_user.age %> ></div>
				<div style="white-space:nowrap"><b>Old Password :&ensp;&ensp;&ensp;&ensp;</b><input class="form-control" id="fInput" name="old_password" id="old_password" placeholder="xxxxxxx" type="text" /></div>
				<div style="white-space:nowrap"><b>New Password :&ensp;&ensp;&ensp;&ensp;</b><input class="form-control" id="fInput" name="new_password" id="new_password" placeholder="xxxxxxx" type="text"/></div>
				<div style="white-space:nowrap"><b>Confirm Password :&ensp;</b><input class="form-control" id="fInput" name="confirm_password" id="confirm_password" placeholder="xxxxxxx" type="text"/></div>
				<div style="white-space:nowrap"><b>location: </b>
				<select name="province">
					<option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
					<option value="กระบี่">กระบี่ </option>
					<option value="กาญจนบุรี">กาญจนบุรี </option>
					<option value="กาฬสินธุ์">กาฬสินธุ์ </option>
					<option value="กำแพงเพชร">กำแพงเพชร </option>
					<option value="ขอนแก่น">ขอนแก่น</option>
					<option value="จันทบุรี">จันทบุรี</option>
					<option value="ฉะเชิงเทรา">ฉะเชิงเทรา </option>
					<option value="ชัยนาท">ชัยนาท </option>
					<option value="ชัยภูมิ">ชัยภูมิ </option>
					<option value="ชุมพร">ชุมพร </option>
					<option value="ชลบุรี">ชลบุรี </option>
					<option value="เชียงใหม่">เชียงใหม่ </option>
					<option value="เชียงราย">เชียงราย </option>
					<option value="ตรัง">ตรัง </option>
					<option value="ตราด">ตราด </option>
					<option value="ตาก">ตาก </option>
					<option value="นครนายก">นครนายก </option>
					<option value="นครปฐม">นครปฐม </option>
					<option value="นครพนม">นครพนม </option>
					<option value="นครราชสีมา">นครราชสีมา </option>
					<option value="นครศรีธรรมราช">นครศรีธรรมราช </option>
					<option value="นครสวรรค์">นครสวรรค์ </option>
					<option value="นราธิวาส">นราธิวาส </option>
					<option value="น่าน">น่าน </option>
					<option value="นนทบุรี">นนทบุรี </option>
					<option value="บึงกาฬ">บึงกาฬ</option>
					<option value="บุรีรัมย์">บุรีรัมย์</option>
					<option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์ </option>
					<option value="ปทุมธานี">ปทุมธานี </option>
					<option value="ปราจีนบุรี">ปราจีนบุรี </option>
					<option value="ปัตตานี">ปัตตานี </option>
					<option value="พะเยา">พะเยา </option>
					<option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา </option>
					<option value="พังงา">พังงา </option>
					<option value="พิจิตร">พิจิตร </option>
					<option value="พิษณุโลก">พิษณุโลก </option>
					<option value="เพชรบุรี">เพชรบุรี </option>
					<option value="เพชรบูรณ์">เพชรบูรณ์ </option>
					<option value="แพร่">แพร่ </option>
					<option value="พัทลุง">พัทลุง </option>
					<option value="ภูเก็ต">ภูเก็ต </option>
					<option value="มหาสารคาม">มหาสารคาม </option>
					<option value="มุกดาหาร">มุกดาหาร </option>
					<option value="แม่ฮ่องสอน">แม่ฮ่องสอน </option>
					<option value="ยโสธร">ยโสธร </option>
					<option value="ยะลา">ยะลา </option>
					<option value="ร้อยเอ็ด">ร้อยเอ็ด </option>
					<option value="ระนอง">ระนอง </option>
					<option value="ระยอง">ระยอง </option>
					<option value="ราชบุรี">ราชบุรี</option>
					<option value="ลพบุรี">ลพบุรี </option>
					<option value="ลำปาง">ลำปาง </option>
					<option value="ลำพูน">ลำพูน </option>
					<option value="เลย">เลย </option>
					<option value="ศรีสะเกษ">ศรีสะเกษ</option>
					<option value="สกลนคร">สกลนคร</option>
					<option value="สงขลา">สงขลา </option>
					<option value="สมุทรสาคร">สมุทรสาคร </option>
					<option value="สมุทรปราการ">สมุทรปราการ </option>
					<option value="สมุทรสงคราม">สมุทรสงคราม </option>
					<option value="สระแก้ว">สระแก้ว </option>
					<option value="สระบุรี">สระบุรี </option>
					<option value="สิงห์บุรี">สิงห์บุรี </option>
					<option value="สุโขทัย">สุโขทัย </option>
					<option value="สุพรรณบุรี">สุพรรณบุรี </option>
					<option value="สุราษฎร์ธานี">สุราษฎร์ธานี </option>
					<option value="สุรินทร์">สุรินทร์ </option>
					<option value="สตูล">สตูล </option>
					<option value="หนองคาย">หนองคาย </option>
					<option value="หนองบัวลำภู">หนองบัวลำภู </option>
					<option value="อำนาจเจริญ">อำนาจเจริญ </option>
					<option value="อุดรธานี">อุดรธานี </option>
					<option value="อุตรดิตถ์">อุตรดิตถ์ </option>
					<option value="อุทัยธานี">อุทัยธานี </option>
					<option value="อุบลราชธานี">อุบลราชธานี</option>
					<option value="อ่างทอง">อ่างทอง </option>
					<option value="อื่นๆ">อื่นๆ</option>
				</select>
				&ensp;
				</span>
				<label for="type"><b> Type :</b></label>
				<select name="Type" value = <%current_user.type%>>
					<option value="Run">Run</option>
					<option value="Swimming">Swimming</option>
					<option value="Jogging">Jogging</option>
					<option value="Cycling">Cycling</option>
					<option value="Weight-training">Weight-training</option>
				</select>&emsp;
				</div>

				<div style="white-space:nowrap"><b>Sex : &ensp;</b><input id="radio-1" name="gender" value="1" type="radio" checked>&ensp;Male &emsp;<input id="radio-2" name="gender" value="2" type="radio">&ensp;Female </div>
				
			</div>
			<br>
			<div style="white-space:nowrap"><b>About me: </b><textarea rows="4" cols="50"></textarea></div>
			
		</div>
	</div>
	<div class="clearfix" style="white-space:nowrap;margin-left:15%;margin-right:15%">
		<a href="/"><button type="button" class="cancelbtn" style="width:50%">Cancel</button></a>
		<a action="/" method="POST"><button type="submit" class="submitbtn" style="width:50%">Submitttt</button>
	</div>
</form>
<script>
	var passwordFail = <%- JSON.stringify(passwordFail) %>;
	var passwordNoMatch = <%- JSON.stringify(passwordNoMatch) %>;
</script>
<script src="/js/edit_profile.js"></script>
<% include bottom.html %>