<!DOCTYPE html>
<html>

<head> 
    <base href="." >
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/lib/jQuery.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="position: static;">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand navbar-brand-logo" href="/">
                    <div class="logo">
                        <i class="fas fa-dumbbell" style="font-size: 1.5rem;"></i>
                        <p style="font-size:1rem">Find My Trainner</p>
                    </div>
                  </a>
            </div>
                <p>
                    <div class="warpper">
                    <li class="nav-item dropdown icon-drop" style="list-style:none">
                            <a  class="nav-link dropdown-toggle notification" href="#" onclick="updateMessage()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i style="height:100%" class="fab fa-facebook-messenger fa-2x"></i>
                                <div class="badge">
                                    <div id = "mCount" class="message-count"></div>
                                </div>
                            </a>
                        </a>
                        <div id="mShow" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        </div>
                    </li>
                    <span>
                    <li class="nav-item dropdown icon-drop" style="list-style:none">
                            <a  class="nav-link dropdown-toggle notification" href="#" onclick="updateNoti()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i style="height:100%" class="fas fa-bell fa-2x"></i>
                                <div class="badge">
                                    <div id = "nCount" class="message-count"></div>
                                </div>
                            </a>
                        </a>
                        <div id="nShow" class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:250px">
                        </div>
                    </li>
                </span>
            <span>
                    <li class="nav-item dropdown icon-drop" style="list-style:none">
                        <a class="nav-link dropdown-toggle notification" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i style="height:100px" class="fas fa-user fa-2x"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/config">Setting  <i class="fas fa-user-edit" style="padding-left:20px"></i></a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/history">History  <i class="fas fa-user-edit" style="padding-left:20px"></i></a>      
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout  <i class="fas fa-user" style="padding-left:20px"></i></a>
                        </div>
                    </li>
                </span>
                </div>
                </p>
            </div>
        </div>
    </nav>