<%include header.ejs %>
<div style="margin-left: 22%; margin-right: 20%;">
	<div class="column">
		<h1 style="margin-top: 20px;">My History</h1>
			<p>View your history.</p>
            <hr style></hr>

            <% user_history.forEach(function (user){ %>
                <div class="d-block d-md-flex podcast-entry bg-white mb-5 aos-init aos-animate" data-aos="fade-up">
                    <img class="img-thumbnail" src= "<%= user.img %>"/>
                    <div class="col">
                        <div class="text">
                            <h3 class="font-weight-light"><a href="/user/<%= user._id%>/"><%= user.name%></a></h3>
                            <p class="mb-4"> Age:<%= user.age%>           Gender:<%= user.gender==1?"Male":"Female" %></p>
                            <div class="text-black mb-3"><small>Course Start : 16 September 2017 Course End : 19 September 2017</small></div>
                        </div>
                </div>
                    <div class="col" style="max-width:10rem">
                        <button id="comment" class='com' data-id="<%= user._id %>">Comment</button>
                    </div>
            </div>  
            <%});%>
      </div>
  </div>
</div>
    <div class='bg-modal'>
        <div class='modal-con'>
            <div class="closeb">+
            </div>
            <h1>COMMENT</h1>
            <form action="/addcomment/">
                <textarea name="text" class="form-control" rows="5" id="comment"></textarea>
                <input type="hidden" name="id" id="comment_trainer_id">
                <button href="" class="btn btn-success" style=" margin-top:1rem;">Submit</button>
            </form>
        </div>

    </div>
</div>

<% include bottom.html %>

