<% include header.ejs %>
    <% users.forEach(function (user){ %>
         <div class="container">
            <a href="/user/<%= user._id%>/">
                <img src = "<%= user.img %>" id= "user" alt="Tiq5lR.jpg" border="0" class="img-thumbnail"/>
            </a>
        </div>
    <%});%>
<% include bottom.html %>