<% include headerlogin.html %>
<link rel="stylesheet" type="text/css" href="/css/signUp.css">
<form id="SignUpForm" class="rounded" action="signUp" method="POST" style="border:1px solid #ccc">
    <div class="container">
        <h1>Sign Up</h1>
        <hr>
        <div style="width:100%">
            <label style="margin-right:20px"><b>Sign Up as: </b></label>
            <label style="margin-right:20px"><input type="radio" name="status" value="1" style="margin-bottom:15px" required> Trainner</label>
            <label><input type="radio" name="status" value="2" style="margin-bottom:15px"> Student</label>
        </div>

        <div style="white-space:nowrap"><b>Name : &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</b><input class="form-control" id="fInput" name="Name" id="Name" placeholder="Sam Smith" require="true" type="text" required/></div>
        <div style="white-space:nowrap"><b>Username : &ensp;&ensp;&ensp;&ensp;&ensp;</b><input type="text" class="form-control" id="fInput" placeholder="SEzanarak" name="username" id="username" required></div>
        <div style="white-space:nowrap"><b>Password : &ensp;&ensp;&ensp;&ensp;&ensp;</b><input type="password" class="form-control" id="fInput" placeholder="se1234" name="psw" id="psw" required></div>
        <div style="white-space:nowrap"><b>Repeat Password : </b><input type="password" class="form-control" id="fInput" placeholder="se1234" name="repsw" id="repsw" required></div>
        <div style="white-space:nowrap"><b>Age : &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</b><input type="text" class="form-control" id="fInput" placeholder="20" name="age" required></div>
        <div style="white-space:nowrap"><b>Image : &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</b><input type="text" class="form-control" id="fInput" placeholder="http://www.google.com" name="img"></div>
        
        <span style="white-space: pre-line">
        <div style="white-space:nowrap"><b>Location : </b>
        <select name="province">
            <option value="กรุงเทพ">กรุงเทพ</option>
            <option value="กระบี่">กระบี่ </option>
            <option value="กาญจนบุรี">กาญจนบุรี </option>
            <option value="กาฬสินธุ์">กาฬสินธุ์ </option>
            <option value="กำแพงเพชร">กำแพงเพชร </option>
            <option value="ขอนแก่น">ขอนแก่น</option>
            <option value="จันทบุรี">จันทบุรี</option>
            <option value="ฉะเชิงเทรา">ฉะเชิงเทรา </option>
            <option value="ชัยนาท">ชัยนาท </option>
            <option value="ชัยภูมิ">ชัยภูมิ </option>
            <option value="ชุมพร">ชุมพร </option>
            <option value="ชลบุรี">ชลบุรี </option>
            <option value="เชียงใหม่">เชียงใหม่ </option>
            <option value="เชียงราย">เชียงราย </option>
            <option value="ตรัง">ตรัง </option>
            <option value="ตราด">ตราด </option>
            <option value="ตาก">ตาก </option>
            <option value="นครนายก">นครนายก </option>
            <option value="นครปฐม">นครปฐม </option>
            <option value="นครพนม">นครพนม </option>
            <option value="นครราชสีมา">นครราชสีมา </option>
            <option value="นครศรีธรรมราช">นครศรีธรรมราช </option>
            <option value="นครสวรรค์">นครสวรรค์ </option>
            <option value="นราธิวาส">นราธิวาส </option>
            <option value="น่าน">น่าน </option>
            <option value="นนทบุรี">นนทบุรี </option>
            <option value="บึงกาฬ">บึงกาฬ</option>
            <option value="บุรีรัมย์">บุรีรัมย์</option>
            <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์ </option>
            <option value="ปทุมธานี">ปทุมธานี </option>
            <option value="ปราจีนบุรี">ปราจีนบุรี </option>
            <option value="ปัตตานี">ปัตตานี </option>
            <option value="พะเยา">พะเยา </option>
            <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา </option>
            <option value="พังงา">พังงา </option>
            <option value="พิจิตร">พิจิตร </option>
            <option value="พิษณุโลก">พิษณุโลก </option>
            <option value="เพชรบุรี">เพชรบุรี </option>
            <option value="เพชรบูรณ์">เพชรบูรณ์ </option>
            <option value="แพร่">แพร่ </option>
            <option value="พัทลุง">พัทลุง </option>
            <option value="ภูเก็ต">ภูเก็ต </option>
            <option value="มหาสารคาม">มหาสารคาม </option>
            <option value="มุกดาหาร">มุกดาหาร </option>
            <option value="แม่ฮ่องสอน">แม่ฮ่องสอน </option>
            <option value="ยโสธร">ยโสธร </option>
            <option value="ยะลา">ยะลา </option>
            <option value="ร้อยเอ็ด">ร้อยเอ็ด </option>
            <option value="ระนอง">ระนอง </option>
            <option value="ระยอง">ระยอง </option>
            <option value="ราชบุรี">ราชบุรี</option>
            <option value="ลพบุรี">ลพบุรี </option>
            <option value="ลำปาง">ลำปาง </option>
            <option value="ลำพูน">ลำพูน </option>
            <option value="เลย">เลย </option>
            <option value="ศรีสะเกษ">ศรีสะเกษ</option>
            <option value="สกลนคร">สกลนคร</option>
            <option value="สงขลา">สงขลา </option>
            <option value="สมุทรสาคร">สมุทรสาคร </option>
            <option value="สมุทรปราการ">สมุทรปราการ </option>
            <option value="สมุทรสงคราม">สมุทรสงคราม </option>
            <option value="สระแก้ว">สระแก้ว </option>
            <option value="สระบุรี">สระบุรี </option>
            <option value="สิงห์บุรี">สิงห์บุรี </option>
            <option value="สุโขทัย">สุโขทัย </option>
            <option value="สุพรรณบุรี">สุพรรณบุรี </option>
            <option value="สุราษฎร์ธานี">สุราษฎร์ธานี </option>
            <option value="สุรินทร์">สุรินทร์ </option>
            <option value="สตูล">สตูล </option>
            <option value="หนองคาย">หนองคาย </option>
            <option value="หนองบัวลำภู">หนองบัวลำภู </option>
            <option value="อำนาจเจริญ">อำนาจเจริญ </option>
            <option value="อุดรธานี">อุดรธานี </option>
            <option value="อุตรดิตถ์">อุตรดิตถ์ </option>
            <option value="อุทัยธานี">อุทัยธานี </option>
            <option value="อุบลราชธานี">อุบลราชธานี</option>
            <option value="อ่างทอง">อ่างทอง </option>
            <option value="อื่นๆ">อื่นๆ</option>
        </select>&emsp;
        </span>


        
        
        <b>Type : </b>
        <select name="Type">
            <option value="Run">Run</option>
            <option value="Swimming">Swimming</option>
            <option value="Jogging">Jogging</option>
            <option value="Cycling">Cycling</option>
            <option value="Weight-training">Weight-training</option>
        </select>&emsp;
        </div>

        <div style="white-space:nowrap"><b>Sex : &ensp;</b><input type="radio" name="gender" value="1" style="margin-bottom:15px" required> Male  &ensp;<label><input type="radio" name="gender" value="2" style="margin-bottom:15px"> Female</label></div>

        <div class="clearfix" style="white-space:nowrap">
            <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>
            <a action="/signUp" method="POST"><button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>
<% include bottom.html %>