<% include headerlogin.html %>
<form id = "SignInForm" class="rounded-pill" action="signIn" method = "POST" style="border:1px solid #ccc">
    <div class="imgcontainer">
    <img id="logo-img" src="https://sv1.picz.in.th/images/2019/02/12/Toan7P.png"  alt="Avatar" class="avatar">
  </div>

  <div id="inputSignIn" class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" class="rounded-pill" placeholder="Enter Username" name="uname" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" class="rounded-pill" placeholder="Enter Password" name="psw" required>
    <button type="submit" class="rounded-pill">Login</button>
  </div>
</form>
<script>
  $('#SignInForm').submit(()=>{
    uname = $('#SignInForm input[name=uname]').val()
    psw = $('#SignInForm input[name=psw]').val()
    $.post('/signIn',{uname ,psw},(res)=>{
      //console.log(res)
      if(res){
        window.location.replace('/')
      }
      else{
        alert('Error');
      }
    }, 'json')
    return false;
  }

    )
</script>
<% include bottom.html %>