.message-count {
  color: #fff;
  font-size: 10px;
  font-family: Arial, san-serif;
  font-weight: bold;
}


.badge {
  position: absolute;
  right: 0px;
  top: -5px;
  z-index: 10;
}

.img-thumbnail{
  width:188.66px;
  height:143.98px;
}
.dropdown-menu,.dropdown-menu ul {
  list-style-type:none;
}
#user-icon{
  height:100%;
  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.icon-drop{
  display: inline;
  size: 1rem;
}

.warpper{
  margin-left: 40rem;
  margin-top: 5.5rem;
  width: 500px;
}

#SignUpForm{
  width:50%;
  background: white;
  margin-left:25%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
  display:flex;
  align-items: center;
  text-align: center;
}
#SignInForm{
  background: white;
  margin-left:5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
  display:flex;
  align-items: center;
  text-align: center;
}
#inputSignIn{
  width:40%;
  margin-left:10%;
  text-align: center;
}
#logo-img{
  margin-left:35%;
  margin-right:5%;
  margin-top:30%;
  margin-bottom:30%;
  width:500x;
  height : 400px; 
  display : block;
}
.navbar{
    border: 0 none;
    background-color:rgb(242, 204, 255);
    max-height : 80px;
    max-height : 80px;
}

.navbar .navbar-brand {
    font-weight: 600;
    margin-top: -13px;
    font-size: 20px;
}
.logo{
    margin-top:1.8rem;
}
#SignIn{
    margin-top: 1.8rem;
    margin-bottom: 13px;
    margin-right: -700px
   
}

#SignUp{
    color:black;
    margin-top: 10px;
    margin-bottom: 13px;
    margin-right: 60px
} 

.fas{
    height:100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
h1{
    font-size: 40px;
}
html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: center;
  color:white;
}
body{
  background: rgb(255, 230, 230);
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #444;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

select[name=Province]{
  width :115px;
}

select[name=Type]{
  width :170px;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.codehim-search-bar {
 padding: 10px;
 box-sizing: border-box;
}

.codehim-search-bar input[type=text] {
 width: 60%;
 padding: 14px;
 display: inline;
 background: #fff;
 border: 1px solid #357EC7;
 outline: 0;
 color: #444;
 caret-color: #357EC7;
 font-size: 12pt;
}

.codehim-search-bar input[type=submit]:hover {
 opacity: .8;
}

.codehim-search-bar input[type=text]:focus {
 background: #f5f5f5;
}

.codehim-search-bar input[type=submit] {  
 padding: 15px;
 display: inline;
 border: none;
 outline: 0;
 background: #357EC7;
 color: #fff;
 margin-left: -5px;
 cursor: pointer;
 transition: .3s;
 -webkit-transition: .3s;
 -moz-transition: .3s;
 font-size: 12pt;
 border-radius: 0 10px 10px 0;
}

.codehim-search-button:before {
 content: "\f002";
 font-family: FontAwesome;
 font-weight: normal;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.notification {
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  top:-15px;
}


.notification .badge {
  position: absolute;
  top: 0px;
  right: 35px;
  padding: 2px 2px;
  border-radius: 50%;
  background: red;
  color: white;
}

.bg-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(4,4,4,0.7);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-con{
  width: 500px;
  height: 300px;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  padding:10px;
  position: relative;
}

.modal-con textarea{
  width: 400px;
  height: 150px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

/* .modal-con .button{
  background-color: #4CAF50 !important;
  border: 8px;
  

} */

.modal-con .closeb{
  position: absolute;
  top:0;
  right:14px;
  font-size:2rem;
  transform: rotate(45deg);
  cursor: pointer;
}